<nav>
  <div class='nav-wrapper' style='padding: 0 15px'>
    <a href='/' class='brand-logo'>Courses App</a>
    <ul id='nav-mobile' class='right hide-on-med-and-down'>
      {{#if isAuth}}
        <li><a href='/'>Main page</a></li>
        <li><a href='/courses'>Courses</a></li>
        <li><a href='/add'>Add course</a></li>
        <li><a href='/cart'>Cart</a></li>
        <li><a href='/auth/logOut'>Log Out</a></li>
      {{else}}
        <li><a href='/'>Main page</a></li>
        <li><a href='/courses'>Courses</a></li>
        <li><a href='/auth/logIn'>Log In</a></li>
      {{/if}}
    </ul>
  </div>
</nav>